body {
  font-family: "Roadgeek 2005 Series C";
}

.container {
  color: #FFF;
  width: 378px;
}

td {
  font-size: 32px;
}

td span {
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  text-align: right;
}

span.green {
  background-color: rgb(0,186,0);
}

span.red {
  background-color: rgb(255,48,0);
}
