.container {
  color: #FFF;
  width: 378px;
}

td span {
  border-radius: 5px;
  display: inline-block;
  width: 40px;
  padding: 5px;
  text-align: right;
}

span.green {
  background-color: green;
}

span.red {
  background-color: red;
}
