body {
  font-family: "Roadgeek 2005 Series C", 'Homenaje', sans-serif;
}

.container {
  color: #FFF;
}

table {
  margin: 25px;
  font-size: 64px;
}

tr {
  margin: 25px 0;
  height: 100px;
}

tr.hidden {
  display: none;
}

tr.detail {
  font-size: 36px;
}

td {
  margin-top: 15px;
  min-width: 145px;
}

td.last {
  text-align: right;
}

td span {
  border-radius: 5px;
  display: inline-block;
  padding: 15px 15px 0 15px;
  text-align: right;
  margin-left: 30px;
}

span.pill {
  margin-top: -10px;
  font-size: 48px;
}

span.green {
  background-color: rgb(0,186,0);
}

span.red {
  background-color: rgb(255,48,0);
}
